* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --accent-color: #FF4E4E;
  --dark-accent-color: #b92a2a;
  --light-accent-color: #ffe3e3;
  --background: #efefef;
  --foreground: #fff;
}

body {
  margin: 0;
  font-size: 16px;
  background: var(--background);
  color: #222;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

#background_art {
  position: fixed;
  pointer-events: none;
  height: 40vh;
  width: 100vw;
  z-index: -1;
  background: -webkit-gradient(linear, left bottom, left top, from(dodgerblue), to(skyblue));
  background: linear-gradient(0deg, dodgerblue, skyblue);
}

input, button {
  position: relative;
  border: none;
  font-size: 1em;
  border-radius: 0.25em;
  font-weight: bold;
}

button {
  padding: 0.5em 1em;
  background: transparent;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0.5em;
}

input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.no-transformations {
  -webkit-transform: none !important;
          transform: none !important;
}

#page_container {
  position: absolute;
  top: 5em;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.page {
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 100%;
  padding: 0 4em;
}

#top_nav {
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  background: var(--foreground);
  margin-bottom: 0.5em;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.08);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.08);
  z-index: 4;
}

#top_nav #logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

#top_nav #logo svg {
  height: 2.5em;
  margin-right: 0.5em;
}

#top_nav #tab_switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 1em;
}

#top_nav #tab_switcher span {
  margin: 0 0.25em;
  cursor: pointer;
  padding: 1em;
  font-weight: bold;
  opacity: 0.7;
}

#top_nav #tab_switcher span:hover {
  color: var(--accent-color);
  opacity: 1;
}

#top_nav .active {
  opacity: 1 !important;
  color: var(--accent-color);
}

#top_nav .spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#top_nav button {
  color: var(--accent-color);
}

#top_nav button svg {
  height: 1em;
  margin-right: 0.5em;
  fill: var(--accent-color);
}

#top_nav button:hover {
  background: var(--light-accent-color);
  cursor: pointer;
}

#dashboard .first-row, #dashboard .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#dashboard .first-row #status_map_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#dashboard .first-row #high_perf_interns_container {
  width: 20em;
}

#dashboard .second-row #project_list_container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 20em;
}

#dashboard .second-row #intern_updates_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-card {
  overflow: hidden;
  background: var(--foreground);
  border-radius: 0.25em;
  margin: 0.5em;
  -webkit-box-shadow: 0.5em 1em 1em rgba(0, 0, 0, 0.08);
          box-shadow: 0.5em 1em 1em rgba(0, 0, 0, 0.08);
}

#update-container {
  max-height: 24em;
  overflow-y: auto;
}

.update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5em 1em;
  padding: 0.5em;
}

.update span {
  margin: 0.25em 0;
}

.update p {
  font-size: 0.9em;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 1em;
}

.container-header svg {
  fill: rgba(0, 0, 0, 0.48);
  height: 1.4em;
  width: 1.4em;
  margin-right: 0.5em;
}

.container-header span:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
}

.container-header span:nth-of-type(2) {
  color: var(--accent-color);
  border-radius: 0.25em;
  margin-right: 0.25em;
  cursor: pointer;
  padding: 0.5em 1em;
  font-weight: bold;
}

.container-header span:nth-of-type(2):hover {
  background: var(--light-accent-color);
}

.popup-container {
  display: -ms-grid;
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  place-items: center;
  background: rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(0.5em);
          backdrop-filter: blur(0.5em);
  z-index: 4;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.popup-container .popup {
  padding: 1em 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: var(--foreground);
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-box-shadow: 0 2em 2em rgba(0, 0, 0, 0.24);
          box-shadow: 0 2em 2em rgba(0, 0, 0, 0.24);
  border-radius: 0.25em;
}

#textCopied {
  padding: 1em;
  border-radius: 2em;
  background: var(--sec-color);
  position: fixed;
  bottom: 0;
  pointer-events: none;
  margin: 2em 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s opacity ease;
  transition: 0.2s opacity ease;
  z-index: 10;
}

#add_intern_popup {
  padding: 1em;
  width: 24em;
}

#add_intern_popup input {
  padding: 1em;
  background: var(--background);
  width: 100%;
  margin: 1em 0;
  color: #222;
  font-size: 1em;
}

#add_intern_popup button {
  color: var(--accent-color);
  margin-left: 0.5em;
}

#add_intern_popup button:hover {
  background: var(--accent-color);
  color: var(--background);
}

#add_intern_popup button:first-of-type {
  margin-left: auto;
}

#admin_panel {
  margin-top: 0.5em;
  -ms-grid-columns: 16em auto;
      grid-template-columns: 16em auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: 'projects edit' 'interns edit';
}

#projects_container, #interns_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1em;
  background: var(--foreground);
  width: 16em !important;
}

#projects_container .container-header h3, #interns_container .container-header h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#projects_container .container-header svg, #interns_container .container-header svg {
  padding: 0.5em;
  height: 2em;
  width: 2em;
  opacity: 0.6;
  fill: #222;
  margin-right: 0;
}

#projects_container .container-header svg:hover, #interns_container .container-header svg:hover {
  opacity: 1;
  cursor: pointer;
}

#interns, #projects {
  width: 16em;
  overflow-y: auto;
  max-height: 12em;
}

#edit_data {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: edit;
  background: var(--background);
}

#projects_container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: projects;
}

#interns_container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: interns;
}

.intern-card span:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.intern-card span:nth-of-type(2) {
  color: var(--accent-color);
  padding: 0 0.25em;
  font-weight: bold;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 1em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card:hover {
  background: rgba(0, 0, 0, 0.08);
}

#intern_info {
  padding: 0;
}

#intern_info h3 {
  margin: 0.5em 0;
}

.left {
  width: 16em;
}

.left div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.left div:nth-of-type(2) span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-break: break-all;
}

.left div:nth-of-type(2) svg {
  fill: #222;
  height: 2.5em;
  padding: 0.6em;
  overflow: visible;
  margin-right: 1em;
  opacity: 0.6;
}

.left div:nth-of-type(2) svg:hover {
  opacity: 1;
  cursor: pointer;
}

.left span {
  display: block;
  padding: 1em;
  margin: 0;
}

.left span:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.left span:nth-of-type(2) {
  word-break: break-all;
}

.right {
  width: 20em;
  background: var(--background);
  overflow-y: auto;
  max-height: 60vh;
  border-radius: 0 0.25em 0.25em 0;
}

@media only screen and (max-width: 640px) {
  ::-webkit-scrollbar {
    width: auto;
  }
  #dashboard {
    padding: 0;
  }
  .container-card {
    width: 100% !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .popup {
    margin-top: auto;
    width: 100% !important;
    border-radius: 0.5em !important;
  }
  .left, .right {
    width: 100% !important;
  }
  .update {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */