@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    --primary-color: #512DA8;
    --text: 0,0,0;
    --light-text: #222;
    --foreground: 255, 255, 255;
    --background: #ececec;
    --light-color: 170,170,170;
    --dark-color: #ddd;
    margin: 0;
    font-size: 16px;
    background: rgba(var(--foreground), 1);
    color: rgba(var(--text),1);
    padding-bottom: 3rem;
}
body[data-theme="dark"]{
    --primary-color: #9575CD;
    --foreground: 20, 20, 20;
    --background: #0a0a0a;
    --text: 255, 255, 255;
    --light-text: #eee;
    --light-color: #aaa;
    --dark-color: #111;

}
h1,h2,h3,h4,h5{
    font-weight: 500;
}
input[type="checkbox"]{
    display: none;
}
@mixin display_flex {
    position: relative;
    display: flex;
}
@mixin svg_stroke {
    stroke: rgba(var(--text),0.8);
    fill: none;
    overflow: visible;
    stroke-linecap: round;
    stroke-linejoin: miter;
}
.checkbox{
    svg{
        @include svg_stroke;
        height: 1.6rem;
        width: 1.6rem;
        .check{
            stroke-dashoffset: 70;
            stroke-dasharray: 70;
            transition: stroke-dashoffset 0.3s ease;
        }
    }
    input:checked + svg{
        stroke: #00C853;
        .check{
            stroke-dashoffset: 0;
        }
    }
}
.switch {
    display: flexbox;
    width: 2rem;
    align-content: center;
    position: relative;
    height: 1.5rem;
    z-index: 1;
    margin-right: 1rem;
    align-self: center;
    -webkit-tap-highlight-color: transparent;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    background-color: var(--dark-color);
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    align-self: center;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    transform: translateY(-1px);
    transition: .4s;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.24);
  }
  
  input:checked + .slider {
    background-color: var(--primary-color);
  }
  
  input:checked + .slider:before {
    transform: translate(1.5rem, -1px);
  }
  
  .slider.round {
    border-radius: 2rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #settings_page{
      padding: 1rem;
    section{
        width: 100%;
        border-bottom: 1px solid rgba(var(--text),0.1);
        display: grid;
        padding-bottom: 1rem;
    }
    section:last-of-type{
        border: none;
    }
    h3,h4{
        display: flexbox;
        width: 100%;
        align-self: center;
    }
    h5{
        margin: 0;
        align-self: center;
        font-weight: normal;
        opacity: 0.9;
    }
    button{
        background: transparent;
        border: 1px solid #D32F2F;
        color: #D32F2F;
        margin: 1rem 0;
        width: min-content;
        white-space: nowrap;
        &:hover{
            background: #D32F2F;
            color: white;
        }
    }
    div{
        display: flex;
        width: 100%;
        padding: 1rem 0;
        align-content: center;
    }
    .row{
        flex: 1;
        span{
            font-size: 0.8rem;
        }
    }
        .border-card{
            color: inherit;
            text-decoration: none;
            display: flex;
            padding: 0.5rem 0;
            width: auto;
        }
}
.container-card{
    position: relative;
   // background: var(--background);
    //border: 1px solid rgba(var(--text),0.2);
    //border-radius: 0.4rem;
    h2{
        margin-bottom: 1.5rem;
    }
}
.label{
    color: rgba(var(--text),0.8);
    font-weight: 500;
    margin-bottom: 0.3rem;
    text-transform: capitalize;
}
.popup-container{
    display: grid;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    place-items: center;
    background: rgba($color: #000000, $alpha: 0.24);
    z-index: 10;
    transition: opacity 0.3s ease;
    .popup{
        align-self: flex-end;
        flex-wrap: wrap;
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
        padding: 1rem;
        position: relative;
        display: flex;
        background: rgba(var(--foreground), 1);
        transform: translateY(1rem);
        transition: transform 0.3s ease;
        box-shadow: 0 2rem 2rem rgba($color: #000000, $alpha: 0.24);
        h5{
            margin: 0.5rem 0;
        }
        button:first-of-type{
            margin-left: auto;
        }
        .container-header{
            align-items: center;
            padding: 0;
            button{
                background: rgba(var(--text), 0.1);
                padding: 0.5rem 1rem 0.5rem 0.5rem;
            }
        }
    }
}
.solid-background{
    background: var(--background);
}
a{
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}
.medium-top-bottom-margin{
    margin: 0.5rem 0;
}
#sign_in{
    border-radius: 0;
    flex-flow: column wrap;
    padding: 2rem;
    overflow: hidden;
    margin: 1rem;
    align-self: center;
    width: calc(100% - 2rem);
    h2{
        margin: 0.5rem 0;
        z-index: 3;
    }
    p:first-of-type{
        margin-bottom: 4rem;
        z-index: 3;
        text-shadow: 0 2px 4px rgba($color: #000000, $alpha: .4);
    }
    span{
        position: absolute;
        background: var(--primary-color);
        border-radius: 10%;
        padding: 10rem;
        top: -8rem;
        right: -10rem;
        z-index: 1;
        transform: rotate(30deg);
    }
    div:first-of-type{
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        z-index: 3;
        button{
            margin: initial;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            margin: 0.5rem;
            width: 8rem;
            background: rgba(var(--foreground), 1);
            transition: box-shadow 0.3s ease;
            border: 1px solid rgba(var(--text),.06);
            &:hover{
                box-shadow: .1rem .2rem 2rem rgba($color: #000000, $alpha: 0.24);
            }
        }
    }
    #priv_key_sign_in{
        display: flex;
        flex-flow: column wrap;
        z-index: 3;
        .input{
            background: rgba($color: #000000, $alpha: 0.24);
        }
        button{
            margin-left: initial;
            margin-bottom: 2rem;
            background: rgba(var(--text), 0.04);
            width: fit-content;
        }
    }
}
.task{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 1rem;
    &:last-of-type{
        .left{
            .line{
                transform: scaleY(0);
            }
        }
    }
    .left{
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 0.5rem;
        .circle{
            display: inline-flex;
            position: relative;
            align-self: flex-start;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            background: rgba(var(--foreground), 1);
            border: solid 2px rgba(var(--text), 0.6);
            z-index: 1;
        }
        .line{
            position: absolute;
            left: 50%;
            height: 100%;
            width: 2px;
            transform: translateX(-50%) scaleY(1);
            background-color: rgba(var(--text), 0.4);
        }
    }
    .right{
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        .apply-cont{
            width: 100%;
            display: flex;
            align-items: flex-start;
            h4{
                flex: 1;
            }
        }
    }
    h4{
        margin-top: 0.4rem;
        margin-bottom: 1rem;
    }
    p{
        padding-bottom: 2rem;
    }
    .assigned-interns{
        .assigned-intern{
            padding: 0.4rem;
        }
    }
}
.completed-task{
    .left{
        .circle{
            border: solid 2px #00C853 !important;
            background: #00C853 !important;
        }
        .line{
            background-color: #00C853 !important;
        }
    }
}
.page{
    gap: 1.5rem;
    display: grid;
    position: relative;
    margin: 1.5rem;
    animation: fadein 0.4s ease;
}
.fade-in{
    animation: fadein 0.4s ease;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.title{
    font-weight: 500;
}
.padding{
    padding: 1.5rem;
}
#dashboard{
    padding-bottom: 5rem;
    grid-template-columns: auto;
}
#confirmation{
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    p{
        margin: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: rgba(var(--text),1) !important;
    }
    div{
        display: flex;
        button:first-of-type{
            margin-left: auto;
        }
    }
}
.input{
    display: flex;
    width: 100%;
    margin: 1rem 0;
    background: rgba(var(--text), .06);
    align-items: center;
    border-radius: 0.2rem;
    overflow: hidden;
    input,textarea{
        color: var(--light-text);
        padding: 0.8rem 1.2rem;
        width: 100%;
        font-size: 1rem;
        background: transparent;
        margin-left: 0;
        &:focus{
            outline: none;
        }
    }
    &:focus-within{
        background: rgba(0,0,0,0.1);
    }
}
input,button,textarea{
    position: relative;
    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
}
button{
    position: relative;
    padding: 0.6rem 0.8rem;
    background: transparent;
    transition: background 0.3s ease;
    display: inline-flex;
    align-items: center;
    margin: 0 0.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--light-text);
    font-size: 0.9rem;
    &:focus{
        outline: none;
    }
    &[disabled]{
        opacity: 0.5 !important;
        cursor: default;
    }
}

.show{
    display: block;
}

.hide{
    opacity: 0;
    pointer-events: none;
}

.hide-completely{
    display: none !important;
}

.hide-on-mobile, .hide-page-on-mobile{
    display: none;
}
.hide-on-desktop{
    display: initial;
}

.no-transformations{
    transform: none !important;
}
.no-bottom-margin{
    margin-bottom: 0;
}
.top-margin{
    margin-top: 0.3rem;
}
.toggle{
    position: relative;
    cursor: pointer;
    z-index: 1;
    padding: 0;
    input[type='checkbox']{
        display: none;
    }
    .switch{
        overflow: hidden;
        display: inline-flex;
        flex-direction: column;
        justify-items: center;
        padding: 0.2rem;
        min-height: 1.6rem;
        max-height: 1.6rem;
        border-radius: 0.5rem;
        position: relative;
        margin: 0;
    }
    .circle{
        border-radius: 0.5rem;
        transition: transform 0.3s;
        &:first-of-type{
            margin-bottom: 0.4rem;
        }
        fill: rgba(var(--text), 0.8);
        overflow: visible;
        stroke-linecap: round;
        stroke-linejoin: round;
        height: 1.2rem;
        width: 1.2rem;
        line{
            stroke: rgba(var(--text), 0.8);
            stroke-width: 6;
        }
    }
    input:checked ~ .switch .circle{
        transform: translateY(-1.7rem);
    }
}
.chatInput{
    overflow: hidden;
    align-items: center;
    padding: 0;
    textarea{
        resize: none;
        line-height: 1.6;
    }
    button{
        transition: transform 0.3s ease;
        transform: scale(0);
        align-self: flex-end;
        padding: 1rem;
    }
}
#top_nav{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 4vw;
    z-index: 4;
    will-change: transform;
    .spacer{
        flex: 1;
    }
}
.active{
    opacity: 1 !important;
    color: var(--primary-color);
    .icon{
        stroke: var(--primary-color);
    }
}
.project-card{
    line-height: 1.4;
    text-transform: capitalize;
}
.intern-card{
    user-select: none;
    span:first-of-type{
        padding: 0.8rem;
        border-radius: 50%;
        background: var(--primary-color);
        margin-right: 1rem;
        color: rgba(var(--foreground), 1);
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    span:first-of-type::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    span:nth-of-type(2){
        flex: 1;
        text-transform: capitalize;
    }
    span:nth-of-type(3){
        display: inline-flex;
        align-items: center;
        align-content: center;
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--light-text);
    }
}
.card{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 1rem 1.5rem;
}
.request-card{
    display: flex;
    position: relative;
    margin-bottom: 0.5rem;
    align-items: left;
    flex-wrap: wrap;
    padding: 1rem;
    border-bottom: 1px solid rgba(var(--text),.1);
    p{
        margin-top: 0;
        width: 100%;
        font-size: 1rem;
    }
    b{
        font-weight: 500;
    }
    button{
        padding: 0.2rem 0.6rem 0.2rem 0;
        &:first-of-type{
            margin-left: auto;
        }
    }
    &:last-of-type{
        border-bottom: none;
    }
}
.dropdown {
    position: relative;
}
.dropdown-content{
    overflow: hidden;
    position: absolute;
    z-index: 2;
    margin: 1rem;
    right: 2rem;
    min-width: 24rem;
    background: rgba(var(--foreground), 1);
    box-shadow: 0.2rem 0.4rem 1rem rgba($color: #000000, $alpha: 0.16),
                -0.1rem -0.2rem 0.4rem rgba($color: #000000, $alpha: 0.12);
    border-radius: 0.2rem;   
  }
#intern_updates{
    .container-header{
        padding-right: 0;
        border-bottom: 1px solid rgba(var(--text),0.1);
        button{
            padding: 1rem 0;
            border-bottom: 0.2rem solid transparent;
            border-radius: 0;
            opacity: 0.7;
            &:first-of-type{
                margin-right: 1rem;
            }
            &:last-of-type{
                margin-right: 1rem;
            }
        }
        .active{
            color: rgba(var(--text),1);
            border-bottom: 0.2rem solid var(--primary-color);
        }
    }
}
#update_container, #requests_container{
    display: flex;
    max-height: 80vh;
    overflow-y: auto;
    flex-direction: column;
}
#updates{
    transition: opacity 0.3s ease;
}
.update{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    h4,h5{
        margin: 0.2rem 0;
    }
    h4{
        font-weight: bold;
        text-transform: capitalize;
    }
    h5{
        color: var(--primary-color);
        font-size: 0.7rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}
.container-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 1.5rem;
    h3{
        flex: 1;
        font-weight: 500;
    }
    span{
        color: var(--primary-color);
        border-radius: 0.2rem;
        margin-right: 0.2rem;
        padding: 0.5rem 1rem;
        font-weight: 500;
    }
    .icon{
        margin-right: 1rem;
    }
}
.back-arrow,
.close-svg,
.tick-mark{
    @include svg_stroke;
    height: 2rem;
    width: 2rem;
}
.close-svg{
    padding: 0.6rem;
}
#textCopied{
    padding: 1rem;
    border-radius: 2rem;
    background: var(--sec-color);
    position: fixed;
    bottom: 0;
    pointer-events: none;
    margin: 2rem 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s opacity ease;
    z-index: 10;
}
#intern_info{
    flex-direction: column;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        span{
            flex: 1;
            word-break: break-all;
            font-size: 0.9rem;
        }
    }
    .gold-fill{
        fill: #FF5722;
    }
    #update_intern_score{
        h4{
            margin: 0;
            font-size: 2rem;
        }
        button{
            border: 1px solid rgba(var(--text), 0.1);
        }
        rect{
            stroke: transparent;
        }
    }
    h3{
        text-transform: capitalize;
    }
    h4,h5{
        margin-top: 0.5rem;
    }
}
#project_info{
    flex-direction: column;
}
.branch-btn{
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    user-select: none;
    font-size: 0.8rem;
}
.active-branch{
    opacity: 1;
    color: var(--primary-color);
    background: rgba(var(--text),0.04);
}
.active-project{
    background: rgba(var(--text),0.06);
}
.opac{
    opacity: 1 !important;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    color: rgba(var(--text),0.8);
}
.task-list-item{
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: 'status . title options'
                         'status . interns interns'
                          'status . description description';
    padding: 1rem;
    gap: 0.5rem;
    align-items: center;
    background: rgba(var(--text), 0.02);
    .checkbox{
        grid-area: status;
        padding: 0.5rem 0.5rem 0.5rem 0;
        align-self: flex-start !important;
    }
    &:first-of-type{
        margin-top: 1rem;
        border-radius: 0.2rem 0.2rem 0 0;
    }
    &:last-of-type{
        border-radius: 0 0 0.2rem 0.2rem;
        border-bottom: none;
        margin-bottom: 1rem;
    }
    h4{
        font-weight: 500;
        margin: 0;
    }
    .title{
        grid-area: title;
    }
    .assigned-interns{
        grid-area: interns;
    }
    .task-option{
        grid-area: options;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    p{
        grid-area: description;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }

}
.assigned-interns{
    display: flex;
    flex-wrap: wrap;
    .assigned-intern{
        user-select: none;
        display: inline-flex;
        font-size: 0.8rem;
        margin: 0.2rem 0.5rem 0.5rem 0;
        padding: 0.2rem 0 0.2rem 0.4rem;
        border-radius: 0.2rem;
        border: 1px solid rgba(var(--text), 0.4);
        align-items: center;
        white-space: nowrap;
        text-transform: capitalize;
        button{
            padding: 0.2rem;
        }
    }
}
.commit{
    color: var(--primary-color);
    background: rgba(var(--text), 0.1);
    align-self: center;
}
#task_context{
    transition: 0.3s opacity ease;
    top: 0;
    right: 0;
    margin: 0 2rem;
    list-style: none;
    padding: 0.5rem 0;
    width: max-content;
    border-radius: 0.2rem;
    position: absolute;
    background: rgba(var(--foreground), 1);
    box-shadow: 0.2rem 0.4rem 1rem rgba($color: #000000, $alpha: 0.24),
                -0.1rem -0.2rem 0.4rem rgba($color: #000000, $alpha: 0.16);
    li{
        padding: 0.8rem 1rem;
        display: flex;
        align-items: center;
    }
}
.temp-task{
    padding: 1rem;
    background: rgba(var(--text), 0.02);
    display: flex;
    flex-wrap: wrap;
    .input{
        margin: 0.4rem 0;
    }
}
#branch_container{
    display: flex;
    flex-flow: row wrap;
    margin: 1rem 0;
}
#notification{
    display: flex;
}
#projects_container,#interns_container{
    margin-bottom: 1rem;
}
#bottom_nav{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background: rgba(var(--foreground), 1);
    z-index: 4;
    border-top: 1px solid rgba(var(--text),.1);
    button{
        padding: 0.2rem;
        width: 100%;
        justify-content: center;
        font-size: 0.7rem;
        font-weight: normal;
        flex-direction: column;
        svg{
            margin: 0.4rem;
        }
    }
}
#edit_data{
    padding: 1.5rem;
    h2{
        margin-bottom: 1.5rem;
    }
}
#show_message{
    transform: translate(0, 0.4rem);
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0.2rem 0.4rem 0.8rem rgba($color: #000000, $alpha: 0.16);
    align-items: center;
    flex-direction: row;
    display: flex;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 11;
    span{
        font-weight: 500;
        padding: 1rem;
        flex: 1;
    }
    button{
        margin: 0;
        svg{
            stroke: white;
        }
    }
}
#interns_list{
    flex-direction: column;
    min-width: 20rem;
    #interns_list_container{
        min-height: 50vh;
        max-height: 50vh;
        overflow-y: auto;
    }
}
#best_interns_container, #project_list_container{
    margin-bottom: 1.5rem;
    border-left: 1px solid rgba(var(--text),0.2);
    .container-header{
        padding-right: 0;
    }
}
#edit_data_fig{
    fill: rgba(var(--text),0.6);
    width: 60vw;
    margin: 2rem 0;
}
#floating_btn{
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 2rem;
    opacity: 1;
    margin: 1rem 1rem 4rem 1rem;
    padding: 0.8rem 1rem;
    color: rgba(var(--foreground), 1);
    box-shadow: 0.2rem 0.3rem 1rem rgba($color: #000000, $alpha: 0.24);
    .icon{
        margin-right: 0.8rem;
        stroke: rgba(var(--foreground), 1);
    }
}
.header{
    position: sticky;
    top: 0;
    background: rgba(var(--foreground), 1);
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid rgba(var(--text),0.1);
    align-items: center;
    z-index: 2;
    padding: 1rem 0;
    h3{
        padding: 0 0.5rem;
        display: inline-flexbox;
    }
}
.appear-on-scroll-up{
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 4rem !important;
}
#loader{
    text-align: center;
    h4{
        font-weight: normal;
    }
}
.loader{
    height: 4rem;
    width: 4rem;
    stroke-width: 2;
    overflow: visible;
    stroke: var(--primary-color);
    fill: none;
    stroke-dashoffset: 180;
    stroke-dasharray: 180;
    will-change: stroke-dashoffset;
}
.loading-animation{
    animation: load 3.6s linear infinite, spin 1s linear infinite;
}
#logo{
    display: inline-grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 0.6rem;
    margin-right: 1rem;
    h4{
        letter-spacing: 0.1em;
        margin-top: 0.2rem;
    }
    h5{
        font-weight: 400;
    }
    #main_logo{
        height: 1.2rem;
        width: 1.2rem;
        fill: rgba(var(--text), 1);
    }
}
#intern_view{
    overflow: hidden;
    align-self: flex-start;
    h3{
        margin-bottom: 1.5rem;
    }
}
#status_map_container{
    position: relative;
    overflow: hidden;   
    #status_map{
        position: relative;
        z-index: 1;
        padding: 1rem;
        h2{
            margin: 0.4rem 0;
            text-transform: capitalize;
        }
        .circle{
            background: var(--background);
            border: 2px solid rgba(var(--text), 0.6)
        }
        .line{
            background: rgba(var(--text), 0.4);
        }
        .assigned-intern{
            border: solid 1px rgba(var(--text), 0.6);
        }
    }
}
.apply-btn{
    padding: 0.4rem 0.8rem;
    align-self: flex-start;
    color: var(--primary-color);
    background: rgba(var(--text), 0.1);
    letter-spacing: 0.06em;
}
.icon{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.4rem;
    margin-right: 0.4rem;
    overflow: visible;
    fill: none;
    stroke: rgba(var(--text),0.8);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 6;
}
.thin{
    stroke-width: 3;
}
.watching{
    position: relative;
    padding-left: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    h4{
        flex: 1;
        font-weight: 500;
    }
}
#right{
    padding: 0 1rem;
    & > div:first-of-type{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        h2{
            flex: 1;
            margin: 0.4rem 0;
        }
        button{
            align-self: flex-start;
            border: 1px solid rgba(var(--text), .06)
        }
    }
}
.center{
    position: relative;
    display: grid;
    place-content: center;
    height: 100%;
    text-align: center;
}

@keyframes load{
    50%{
        stroke-dashoffset: 0;
    }
}
.capitalise{
    text-transform: capitalize;
}
#show_all,#project_explorer{
    margin: 0;
}

@media only screen and (min-width: 640px){
    body{
        padding-bottom: 0;
    }
    ::-webkit-scrollbar{
        width: 0.3rem;
    }
    
    ::-webkit-scrollbar-thumb{
        background: rgba(var(--text), 0.3);
        &:hover{
            background: rgba(var(--text), 0.6);
        }
    }
    .hide-on-desktop{
        display: none !important;
    }
    .hide-on-mobile{
        display: flex;
    }
    .hide-page-on-mobile{
        display: grid;
    }
    #top_nav{
        padding: 1.5rem 4vw;
        border-bottom: 1px solid rgba(var(--text),0.2);
    }
    .page, #show_all, #project_explorer{
        margin: 1rem 4vw;
    }
    #top_nav{
        padding: 1.5rem 2vw;
    }
    #settings_page{
        padding: 1rem 2rem;
    }
    #show_message{
        transform: translate(0.4rem, 0);
        margin: 1rem;
        width: max-content;
        border-radius: 0.2rem;
    }

    #sign_in{
        width: 24rem;
        height: auto;
        border-radius: 0.4rem;
    }
    #floating_btn{
        margin: 1rem;
    }
    #dashboard{
        grid-template-columns: 2fr 1fr;
        #status_map_container{
            align-self: flex-start;
            .watching{
                padding-left: 2rem;
            }
            #status_map{
                padding: 1rem 2rem;
            }
        }
    }
    .task{
        .apply-btn{
            opacity: 0;
            transition: opacity 0.3s ease;
        }
        &:hover .apply-btn{
            opacity: 1;
        }
    }
    #intern_info{
        width: 24rem; 
    }
    .hover{
        transition: background 0.3s ease;
        cursor: pointer;
        &:hover{
            background: rgba(var(--text),0.06);
        }
    }

    .popup-container{
        .popup{
            width: auto;
            align-self: center;
            border-radius: 0.2rem;
        }
    }
    #add_intern_popup,#add_project_popup,#create_branch, #post_update, #confirmation{
        padding: 1rem;
        width: 24rem;
        button{
            margin-left: 0.5rem;
            &:first-of-type{
                margin-left: auto;
            }
        }
    }
    #confirmation{
        p{
            margin: 1rem;
            margin-bottom: 2rem;
        }
    }

    #admin_panel{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'header header'
                                '. edit';
        header{
            position: sticky;
            top: 0;
            background: rgba(var(--foreground), 1);
            z-index: 2;
            display: flex;
            justify-content: space-between;
            grid-area: header;
            align-items: center;
            padding: 1rem 0;
        }
    }

    #edit_data_fig{
        width: 16rem;
        justify-self: center;
    }

    #interns,#projects{
        overflow-y: auto;
        max-height: 50vh;
    }

    #edit_data{
        grid-area: edit;
        align-self: flex-start;
        input{
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            width: 20rem;
        }
    }
    .task-list-item{
        .task-option{
            opacity: 0;
        }
        &:hover{
            .task-option{
                opacity: 1;
            }
        }
    }
    #project_explorer{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 'header header'
                                'left right';
        .header{
            border-radius: 0.4rem 0.4rem 0 0;
            grid-area: header;
        }
        #left{
            h4{
                margin-top: 0;
                margin-bottom: 0.5rem;
                color: var(--primary-color);
                font-size: 0.9rem;
            }
            position: sticky;
            top: 4.8rem;
            grid-area: left;
            align-self: flex-start;
            border-right: 1px solid rgba(var(--text),0.06);
        }
        #right{
            grid-area: right;
        }
    }
}

@media only screen and (min-width: 1280px){
    #top_nav{
        padding: 1.5rem 8vw;
    }
    .page, #show_all, #project_explorer{
        margin: 1rem 8vw;
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .task-option, .apply-btn{
        opacity: 1;
    }
}
  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .task-option, .apply-btn{
        opacity: 1;
    }
}